{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="row form-top">
        <div class="col-2 offset-10">
            <a href="{{ path('dashboard_document_type_create') }}" class="btn-pink btn btn-block">
                {{ 'button.add' | trans | raw }}
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h6>
                {{ 'document.type.list' | trans }}
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-vertical-middle">
                    <thead>
                    <tr>
                        <th>
                            {{ 'type.name' | trans }}
                        </th>
                        <th>
                            {{ 'document.type.entities.entity' | trans }}
                        </th>
                        <th class="table-actions">
                            {{ 'table.actions' | trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for type in types %}
                        {# @var type \App\Entity\Document\DocumentType #}
                        <tr>
                            <td>{{ type.name }}</td>
                            <td>
                                {% for entity in type.typeToEntities %}
                                    {# @var entity \App\Entity\Document\TypeToEntity #}
                                    <p class="bold">{{ entity.entity }}</p>
                                    <ul>
                                        <li>{{ entity.required | boolean }}</li>
                                        {% if entity.requirement %}
                                            <li>{{ entity.requirement }}</li>
                                        {% endif %}
                                        {% if entity.description %}
                                            <li>{{ entity.description }}</li>
                                        {% endif %}
                                    </ul>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('dashboard_document_type_edit', {'id': type.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
