{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="row form-top">
        <div class="col-sm-10">
            <h5>
                {{ project.name }}: {{ 'property.task.invoice.list' | trans }}
            </h5>
        </div>
        <div class="col-2">
            <a href="{{ path('dashboard_property_task_invoice_create', { project: project.id }) }}" class="btn-pink btn btn-block">
                {{ 'button.add' | trans | raw }}
            </a>
        </div>
    </div>
    {% include 'dashboard/project/project/view/includes/_tabs.html.twig' with { projectId: project.id } only %}
    <div class="card">
        <div class="card-body">
            {% set pagination = pagination_render(invoices) %}
            <div class="table-responsive">
                {% include 'dashboard/property/task/invoice/_table.html.twig' with { invoices: invoices, project: project.id } only %}
            </div>
            {% if pagination %}
                {{ pagination | raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}
